body {
  background-image: url(https://media.timeout.com/images/101714767/image.jpg);
  background-size: cover;
   background-repeat: no-repeat;



}
.navbar {
  color: blue;
}
h1 {
  text-align: center;
  padding-top: 30%;
  color: #ffffff;
  font-family: Popings;

}
{
color: #fff;

}
/*.hidden {
  display: none;
}*/
