body {
  background-image: url(https://media.timeout.com/images/101714767/image.jpg);
  background-size: cover;
}
.navbar {
  color: blue;
}
h1 {
  text-align: center;
  padding-top: 30%;
  color: white;
  font-family: Popings;

}
{
color: white;

}
