body {
  background-image: url("http://www.beautycolorcode.com/ededff-2048x1536.png");
  background-size: cover;

}
img {
  width:200px;
}
.container {
  display: flex;

}
.rightsidebar {
  width: 66% ;
  text-align:center;
}
.sidebar {
  width: 33%
}
